<div class="jumbotron">
  <div class="header-background">
    <img src="/images/hackathon-logo.png"/>
    <div class="header-content">
      <h2>Corona Gym</h2>
      <p class="lead">
      Spaß, Humor und gegenseitige Motivation beim Sport?
      Starte hier dein gemeinsames Workout mit deinen Freunden.
      </p>
    </div>
  </div>
  <div class="description">
    <p>Wie es funktioniert:</p>
    <ul>
      <li>Erstelle einen Raum</li>
      <li>Kopiere den Link aus der Addressleiste und hole deine Freunde in den Call</li>
      <li>Definiere deine Übungen</li>
      <li>Workout!</li>
    </ul>
    <a class="btn btn-primary btn-lg" href="/new" role="button">Raum erstellen</a>
  </div>
</div>