/* This file is for your main application css. */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

html {
    height: 100%;
    max-width: 100%;
}

main {
    padding: 0 !important;
}

.jumbotron {
    padding: 0;
    max-width: 1000px;
    margin: auto;
}

.header-background {
    background-image: /* url("/images/hackathon-logo.png"), */  url("/images/header.jpg");
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.header-content {
    margin: 2em;
    position: absolute;
    background-color: #FFFFFFbb;
    padding: 10px;
    width: calc(100% - 4em);
}

.header-content > p{
    margin-bottom: 0;
}

.description {
    padding: 2em;
}

@media only screen and (max-width: 600px) {
    .header-background {
        max-height: 300px;
    }

    .header-content {
        margin: 0.5em !important;
        width: calc(100% - 1em) !important;
    }

    .description {
        padding: 1em;
    }
}

.container-fluid {
    padding: 0;
}

workout-display {
    height: 100%;
}

.past {
    height: 30%;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.active {
    margin: 0;
    padding: 0;
    height: 40%;
}

.active-type {
    font-size: 3rem;
    margin: 0 auto;
}
.active-countdown {
    font-size: 3rem;
    margin: 0 auto;
}


.upcoming {
    height: 30%;
}