<div id="meet"></div>

<div id="workout-display">
    <input id="workout_description" value="<%= assigns[:room].workout %>">
</div>

<script src='https://meet.jit.si/external_api.js'></script>

<script>
roomId = '<%= assigns[:room].id %>';
document.body.onload = function() {
    const domain = 'meet.jit.si';
    const options = {
        roomName: roomId,
        parentNode: document.querySelector('#meet')
    };
    api = new JitsiMeetExternalAPI(domain, options);
}
</script>
