<div class="form-row h-100">
    <div id="meet" class="col-10"></div>
    <div id="workout-view" class="col-2 h-100">
        <button
            v-if="editMode"
            v-on:click="add()"
            class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
        </button>
        <button
            v-if="editMode"
            v-on:click="editMode = false"
            class="btn btn-default btn-lg">
            <i class="fa fa-check"></i>
        </button>

        <button
            v-if="!editMode && !workoutRunning"
            v-on:click="editMode = true"
            class="btn btn-default btn-lg"
            >
            <i class="fa fa-pencil"></i>
        </button>
        <button
            v-if="!editMode && !workoutRunning"
            v-on:click="startWorkout()"
            type="button"
            class="btn btn-default btn-lg">
            <i class="fa fa-play"></i>
        </button>

        <workout-step
            v-if="editMode"
            v-for="step in commonState.workoutSteps" :key="step.id"
            v-bind:type="step.type"
            v-bind:duration="step.duration"
            v-on:updated="update(step.id, ...arguments)"
            v-on:removed="remove(step.id)"
            class="p-1"
            >
        </workout-step>
        <workout-display
            v-if="!editMode" 
            v-bind:steps="commonState.workoutSteps"
            v-bind:elapsed="commonState.currentElapsed"
            class="h-100">
        </workout-display>
    </div>
</div>

<script src='https://meet.jit.si/external_api.js'></script>

<script>
roomId = '<%= assigns[:id] %>';
document.body.onload = function() {
    const domain = 'meet.jit.si';
    const options = {
        roomName: roomId,
        parentNode: document.querySelector('#meet'),
        // cf. https://github.com/jitsi/jitsi-meet/blob/master/interface_config.js
        interfaceConfigOverwrite: {
            TOOLBAR_BUTTONS: [
                'microphone',
                'camera',
                'fullscreen',
                'hangup',
            ]
        }
                                          ,
    };
    api = new JitsiMeetExternalAPI(domain, options);
    api.executeCommand('toggleTileView');
}
</script>
